extends ../layouts/master

block content

  .container
    .col-md-9.clearfix.mx-auto.pt-4.pb-4.h-300
      .card.shadow
        .card-header
          h3 Transactions
        .card-body.text-center
          table.table.table-bordered.table-sm.table-hover
            thead
              tr
                th No.
                th name
                th time
            tbody
              -for(var i=0;i<5;i++)
                tr
                  td 1
                  td sign in 1
                  td 1
          ul.pagination
            li.page-item
              a.page-link(href='#', aria-label='Previous')
                span(aria-hidden='true') &laquo;
                span.sr-only Previous
            li.page-item
              a.page-link(href='#') 1
            li.page-item
              a.page-link(href='#') 2
            li.page-item
              a.page-link(href='#') 3
            li.page-item
              a.page-link(href='#', aria-label='Next')
                span(aria-hidden='true') &raquo;
                span.sr-only Next
    .col-md-9.clearfix.mx-auto.pt-4.pb-4.h-300
      .card.shadow
        .card-header
          h3 Blocks
        .card-body.text-center
          table.table.table-bordered.table-sm.table-hover
            thead
              tr
                th No.
                th name
                th time
            tbody
              -for(var i=0;i<5;i++)
                tr
                  td 1
                  td sign in 1
                  td 1
          ul.pagination
            li.page-item
              a.page-link(href='#', aria-label='Previous')
                span(aria-hidden='true') &laquo;
                span.sr-only Previous
            li.page-item
              a.page-link(href='#') 1
            li.page-item
              a.page-link(href='#') 2
            li.page-item
              a.page-link(href='#') 3
            li.page-item
              a.page-link(href='#', aria-label='Next')
                span(aria-hidden='true') &raquo;
                span.sr-only Next