html(lang="ko")
head
  meta(http-equiv='Content-Type', content='text/html, charset=utf-8')
  meta(name='viewport', content='width=device-width, initial-scale=1.0')
  link(href='https://fonts.googleapis.com/css?family=Poppins:300,500,600', rel='stylesheet')
  script(src='/javascripts/jquery-3.3.1.min.js')
  script(src='/javascripts/popper.min.js')
  script(src='/javascripts/bootstrap.min.js')
  script(src='/javascripts/Chart.js')
  script(src='/javascripts/Chart.bundle.js')
  link(rel='stylesheet', href='/stylesheets/bootstrap.min.css')
  link(rel='stylesheet', href='https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,700')
  link(rel="stylesheet", href="https://use.fontawesome.com/releases/v5.3.1/css/all.css", integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU", crossorigin="anonymous")
  link(rel='stylesheet', href='/stylesheets/bokyoung_style.css')
  link(rel='stylesheet', href='/stylesheets/yj_style.css')
  title Blockchain LSB
header
  nav#mainNav.navbar.navbar-expand-lg.navbar-dark.bg-dark.fixed-top
    .container
      a.navbar-brand.js-scroll-trigger(href='/') Blockchain LSB
      button.navbar-toggler(type='button', data-toggle='collapse', data-target='#navbarResponsive', aria-controls='navbarResponsive', aria-expanded='false', aria-label='Toggle navigation')
        span.navbar-toggler-icon
      #navbarResponsive.collapse.navbar-collapse
        ul.navbar-nav.ml-auto
          if(login)
            li.nav-item
              a#btn_signout.btn.btn-secondary(href='/user/signout') SignOut
          else
            li.nav-item.dropdown
              button.btn.btn-secondary(href='/#', data-toggle='dropdown', aria-haspopup='true', aria-expanded='true')
                | Login
              .dropdown-menu.p-3(style='width:200px')
                form(action='/user/signin', method='post', onsubmit="check_login('"+api_token+"', "+api_port+")")
                  .form-group
                    .input-group.mb-1
                      .input-group-prepend
                        span.input-group-text ID  
                      input#user_id.form-control(type='text', placeholder='ID', name='user_id')
                    .input-group.mb-1
                      .input-group-prepend
                        span.input-group-text PW
                      input#user_passwd.form-control(type='password', placeholder='Password', name='user_passwd')
                    .input-group.mb-1
                      .input-group-prepend.mr-2
                        button#btn_signin.btn.btn-secondary(type='submit') SignIn
                      .input-group-append
                        a#btn_signup.btn.btn-secondary(href='/user/signup') SignUp
            script(type='text/javascript').
              function check_login(api_token, api_port){
                var headers = {}; 
                headers["Authorization"]="Bearer "+api_token; 
                headers["Content-Type"]="application/json";
                var id = $("#user_id").val();
                var passwd = $('#user_passwd').val();
                var is_success = false;
                $.ajax({
                  method:"GET",
                  headers : headers,
                  async : false,
                  url : 'http://52.79.245.63:'+api_port+'/channels/mychannel/chaincodes/mycc?peer=peer0.org1.example.com&fcn=getToken&args='+JSON.stringify(['id', id, 'passwd', passwd]||null),
                  success:function(response){
                    var response_json = JSON.stringify(response);
                    if(response_json.indexOf('Error') != -1){
                      alert('잘못된 로그인 정보');
                    }else{
                      alert('로그인 성공');
                      is_success = true;
                    }
                    
                  },
                  error:function(request,status,error){
                    console.log("code:"+request.status+"\n"+"message:"+request.responseText+"\n"+"error:"+error);
                  }
                });

                return is_success;
              }
          li.nav-item.dropdown
            a.nav-link(data-toggle='dropdown')
              i.fas.fa-search
            .dropdown-menu.p-3(style='width:300px')
              form
                .form-group
                  .input-group
                    input#search_input.form-control(type='text', placeholder='Contributor')
                    .input-group-append
                      button.btn.btn-secondary(type='button', onclick="click_search('"+api_token+"', "+api_port+")") Search
            script(type='text/javascript').
              function click_search(api_token, api_port){
                var headers = {}; 
                headers["Authorization"]="Bearer "+api_token; 
                headers["Content-Type"]="application/json";
                var id = $("#search_input").val();
                $.ajax({
                  method:"GET",
                  headers : headers,
                  async : false,
                  url : 'http://52.79.245.63:'+api_port+'/channels/mychannel/chaincodes/mycc?peer=peer0.org1.example.com&fcn=searchUser&args='+JSON.stringify(['id', id]||null),
                  success:function(response){
                    var response_json = JSON.stringify(response);
                    if(response == ""){
                      location.href = "/project?user_id="+id;
                    }else{
                      alert('존재하지 않는 사용자 입니다.');
                    }
                    
                  },
                  error:function(request,status,error){
                    console.log("code:"+request.status+"\n"+"message:"+request.responseText+"\n"+"error:"+error);
                  }
                });
              }
          if(login)
            li.nav-item
              a.nav-link.js-scroll-trigger(href='/portfolio?user_id='+user_id) Portfolio
            li.nav-item
              a.nav-link.js-scroll-trigger(href='/project?user_id='+user_id) Project
            li.nav-item
              a.nav-link.js-scroll-trigger(href='/blockchain?cur=1') Blockchain
.content.mb-5
  block content
