extends ../layouts/master

block content
  .container
    .card.mb-4(style='background:#343A40')
      .card-body
        h5.d-inline(style='color:#FFFFFF')  #{project.Pname}
    .row
      .col-md-2
          li.list-group-item
            a(href='/project/description?pnum='+project.Pnum, style='color:#000000') Description
          li.list-group-item
            a(href='/project/appraise?pnum='+project.Pnum, style='color:#000000') Affraise
          li.list-group-item
            a(href='/project/contributes?pnum='+project.Pnum, style='color:#000000') Contributes
          li.list-group-item
            a(href='/project/contributors?pnum='+project.Pnum, style='color:#000000') Contributors
      .col-md-10
        block project