@import "https://fonts.googleapis.com/css?family=Muli";
*{
  font-family: "Muli",sans-serif;
}
.card.shadow {
	box-shadow: 0px 0px 8px #DFDFDF;
	border: none;
	border-radius: 0;
}

.rounded-circle {
	width: 200px;
	height: 200px;
	margin:0 auto;
	margin-top: 20px;
	box-shadow: 0 8px 20px -6px black;
}
/*
.circle {
  display: block;
  width: 300px;
  height: 300px;
  margin: 1em auto;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  -webkit-border-radius: 99em;
  -moz-border-radius: 99em;
  border-radius: 99em;
  border: 5px solid #eee;
  box-shadow: 0 3px 2px rgba(0, 0, 0, 0.3);  
}*/