extends ../layouts/master

block content
  .container.pl-7.pr-7
    .col-md-12
      .card
        .card-header
          | Register User
        .card-body
          form(action='/user/signup', method='post', onsubmit='confirm_passwd()')
            .form-group
              .row
                .col-md-5
                  label(for='user_name') Name
                  input#user_name.form-control(type='text', placeholder='Name', name='user_name' ,required)
                .col-md-5
                  label(for='user_id') ID
                  .input-group.mb-3
                    input#sign_id.form-control(type='text', placeholder='ID', name="user_id", required) 
                  .input-group-append
                    button.btn.btn-secondary(type='button', onclick="click_search_id('"+api_token+"', "+api_port+")") 중복확인
            .form-group
              .row
                .col-md-5
                  label(for='user_email') Email
                  input#user_email.form-control(type='email', placeholder='Email', name='user_email', required)
            .form-group
              .row
                .col-md-5
                  label(for='user_passwd') Password
                  input#sign_passwd.form-control(type='password', placeholder='Password', name='user_passwd', required)
                .col-md-5
                  label(for='passwd_confirm') Password Confirm
                  input#password_confirm.form-control(type='password', placeholder='Password Confirm', name='passwd_confirm', required)
            .form-group
              .row
                .col-md-5
                  label(for='user_school') School
                  input#user_school.form-control(type='text', placeholder='School', name='user_school')
                .col-md-5
                  label(for='user_major') Major
                  input#user_major.form-control(type='text', placeholder='Major', name='user_major')
            .form-group
              .row
                .col-md-10
                  .card
                    .card-header 자격증 성적 입력
                    .card-body
                      .row
                        .col-md-4
                          label(for='user_toeic') Toeic
                          input#user_toeic.form-control(type='text', placeholder='Toeic', name='user_toeic')
                        .col-md-4
                          label(for='user_speaking') Toeic Speaking
                          input#user_speaking.form-control(type='text', placeholder='Toeic Speaking', name='user_speaking')
                        .col-md-4
                          label(for='user_topcit') Topcit
                          input#user_topcit.form-control(type='text', placeholder='Topcit', name='user_topcit')
            button.btn.btn-primary(type='submit') SignUp
            script(type='text/javascript').
              function click_search_id(api_token, api_port){
                var headers = {}; 
                headers["Authorization"]="Bearer " + api_token; 
                headers["Content-Type"]="application/json";
                var id = $("#sign_id").val();
                $.ajax({
                  method:"GET",
                  headers : headers,
                  async : false,
                  url : 'http://52.79.245.63:'+api_port+'/channels/mychannel/chaincodes/mycc?peer=peer0.org1.example.com&fcn=searchUser&args='+JSON.stringify(['id', id]||null),
                  success:function(response){
                    var response_json = JSON.stringify(response);
                    if(!id){
                      alert("아이디를 입력해 주세요.");
                    }else if(response == ""){
                      alert("이미 존재하는 아이디 입니다");
                    }else{
                      alert("사용 가능합니다.");
                    }
                    
                  },
                  error:function(request,status,error){
                    console.log("code:"+request.status+"\n"+"message:"+request.responseText+"\n"+"error:"+error);
                  }
                });
              }
              function confirm_passwd(){
                var passwd = $('#sign_passwd').val();
                var confirm = $('#password_confirm').val();
                if(passwd == confirm){
                  return true;
                }else{
                  alert("비밀번호 확인이 다릅니다.");
                  return false;
                }
              }
  