extends ../layouts/project

block project
  .card
    .card-header Evaluation
    .card-body
      form
        .input-group
          .input-group-prepend
            span.input-group-text 기여 내역
          textarea.form-control(aria-label='evaluation')
        btn.btn.btn-secondary.mt-3 Summit