extends ../layouts/project

block project
  .card
    .card-header Affraise
    .card-body
      form(action='/project/affraise', method='POST')
        .input-group
          .input-group-prepend
            span.input-group-text 기여 내역
          textarea.form-control(aria-label='evaluation', name='contribution')
        button.btn.btn-secondary.mt-3(type='submit') Summit
      
      table.table.table-hover
        thead(style='background:#343A40;color:#FFFFFF')
          tr
            th(scope='col') No.
            th(scope='col') User
            th(scope='col') Contribute
            th(scope='col') OK
        tbody
          each val in request_list
            tr
              td='#'+val.Pindex
              td=val.Pevalname
              td=val.PDes
              td
                a.btn.btn_primary(href='/project/accept_contribution?pindex='+val.Pindex) OK 
      