extends ../layouts/project

block project
  .card
    .card-header Contributes
    .card-body
      table.table.table-hover
        thead(style='background:#343A40;color:#FFFFFF')
          tr
            th(scope='col') No.
            th(scope='col') User
            th(scope='col') Contribute
        tbody
          tr
            td #0
            td lye
            td Develop Chaincode and DApp
          tr
            td #1
            td sbk
            td Develop Chaincode DApp
          tr
            td #2
            td byj
            td Develop Chaincode DApp