extends ../layouts/master

block content
  .container.pl-7.pr-7
    .col-md-12
      .card
        .card-header
          | Register User
        .card-body
          form(action='/project')
            .form-group
              .row
                .col-md-2
                  .card
                    .card-body
                      img(src='/image/profile_img.png', style='width: 100px; height: auto')
              .row.mt-3
                .col-md-5
                  .input-group.mb-3
                    .input-group-prepend
                      span.input-group-text Profile
                    .custom-file
                      input#profile_imh.custom-file-input(type='file')
                      label.custom-file-label(for='profile_img') Upload Profile Image(.jpg)
            .form-group
              .row
                .col-md-5
                  label(for='name') Name
                  input#name.form-control(type='text', placeholder='Name')
                .col-md-5
                  label(for='email') ID
                  input#id.form-control(type='text', placeholder='ID')
            .form-group
              .row
                .col-md-5
                  label(for='email') Email
                  input#email.form-control(type='email', placeholder='Email')
            .form-group
              .row
                .col-md-5
                  label(for='password') Password
                  input#password.form-control(type='password', placeholder='Password')
                .col-md-5
                  label(for='password_confirm') Password Confirm
                  input#password_confirm.form-control(type='password', placeholder='Password Confirm')
            .form-group
              .row
                .col-md-5
                  label(for='school') School
                  input#school.form-control(type='text', placeholder='School')
                .col-md-5
                  label(for='major') Major
                  input#major.form-control(type='text', placeholder='Major')
            .form-group
              .row
                .col-md-10
                  .card
                    .card-header Git 연동하기 및  자격증 성적 입력
                    .card-body
                      button.btn.btn-secondary.mb-4 Git 연동하기
                      .row
                        .col-md-4
                          label(for='toeic') Toeic
                          input#toeic.form-control(type='text', placeholder='Toeic')
                        .col-md-4
                          label(for='toeic_speaking') Toeic Speaking
                          input#toeic_speaking.form-control(type='text', placeholder='Toeic Speaking')
                        .col-md-4
                          label(for='topcit') Topcit
                          input#topcit.form-control(type='text', placeholder='Topcit')
            button.btn.btn-primary(type='submit') SignUp
  